.accessibility-panel {
  width: 14vw;
  height: 30vh;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  position: fixed;
  left: 80vw;
  top: 45vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: space-around;
  padding: 1vh;
}

.accessibility-header {
  align-self: center;
  margin: 1vh;
}

.accessibility-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1vh;
}

.accessibility-button {
  margin: 2px;
}

.close-accessibility-button {
  position: relative;
  align-self: center;
  width: 5vw;
  height: 5vh;
  padding: 1vh;
}