
.header {
  position: fixed;
  top: 5vh;
  left: 30vw;
  width: 40vw;
  text-align: center;
  font-size: 18pt;
}

.total-price {
  margin-left: 1vw;
  margin-bottom: 5vh;
  margin-top: 2vh;
  font-size: 15pt;
}