body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  position: fixed;
  width: 95vw;
  left: 2.5vw;
  height: 80vh;
  bottom: 2.5vh;
  border: 1px solid black;
  overflow-y: scroll;
}

.store-header {
  position: fixed;
  left: 65vw;
  width: 30vw;
  text-align: right;
  color: blue;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 10vw;
  height: 10vw;
  margin-left: 10vw;
}

.auth-button {
  position: fixed;
  width: 10vw;
  height: 10vh;
  top: 45vh;
  left: 45vw;
}

.page-header {
  text-align: center;
  position: fixed;
  width: 40vw;
  left: 30vw;
}

.product-image {
  max-width: 20vw;
  max-height: 20vh;
}