body {
  margin: 0;
  font-family: "Quicksand";
  font-size: large;
}

code {
  font-family: "Quicksand";
}

.page {
  position: fixed;
  width: 95vw;
  left: 2.5vw;
  height: 80vh;
  bottom: 2.5vh;
  overflow-y: scroll;
  margin-bottom: -3vh;
}

.store-header {
  position: fixed;
  left: 65vw;
  width: 30vw;
  text-align: right;
  color: blue;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 10vw;
  height: 10vw;
  margin-left: 10vw;
}

.auth-button {
  position: fixed;
  width: 10vw;
  height: 10vh;
  top: 45vh;
  left: 45vw;
}

.login-button {
  width: 20vw;
  height: 20vh;
  border-radius: 10px;
  background-color: transparent;
  color: blue;
  border: 2px solid blue;
  box-shadow: 1px 1px 1px 1px darkblue;
  position: fixed;
  left: 40vw;
  top: 40vh;
  font-size: 22pt;
}

.login-button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.page-header {
  text-align: center;
  position: fixed;
  width: 40vw;
  left: 30vw;
}

.product-image {
  max-width: 20vw;
  max-height: 20vh;
}

.theme-button {
  position: fixed;
  left: 85vw;
  top: 10vh;
  width: 10vw;
}

.styled-button-cyber {
  background: transparent;
  box-shadow: 1px 1px #015c07;
  color: #1ecc18;
  border: 1px solid #09f205;
}

.styled-button-cyber:hover {
  cursor: pointer;
  background-color: rgb(201, 242, 201);
}

.styled-button-synth {
  background: transparent;
  box-shadow: 1px 1px #00d5ff;
  color: #ff0080;
  border: 1px solid #00fff7;
}

.styled-button-synth:hover {
  cursor: pointer;
  background-color: lightskyblue;
}

.styled-button-day {
  background: transparent;
  box-shadow: 1px 1px #03005e;
  color: #011c45;
  border: 1px solid #c2c2c4;
}

.styled-button-day:hover {
  cursor: pointer;
  background-color: gainsboro;
}

.styled-button-night {
  background-color: transparent;
  box-shadow: 1px 1px #0802c2;
  color: #fffb00;
  border: 1px solid #00fbff;
}

.styled-button-night:hover {
  cursor: pointer;
  background-color: lightblue;
}

.styled-button-blue {
  background-color: transparent;
  box-shadow: 1px 1px #0802c2;
  color: #ffffff;
  border: 1px solid #00fbff;
}

.styled-button-blue:hover {
  cursor: pointer;
  background-color: lightblue;
}

.styled-button-sunrise {
  background-color: transparent;
  box-shadow: 1px 1px #030055;
  color: #2f00ff;
  border: 1px solid #1c00a7;
}

.styled-button-sunrise:hover {
  cursor: pointer;
  background-color: lightblue;
}

.message-list::-webkit-scrollbar {
  display: none; /* Chrome */
}

.message-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.product-watchlist::-webkit-scrollbar {
  display: none; /* Chrome */
}

.product-watchlist {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
